/*
 * WHAT TO YOU CALL EMILIO ESTEVEZ SEARCHING FOR THE ONE RING?
 */



/* .col-lg - large desktops */
@media (min-width: 1200px){

}

/* .col-md - small desktops */
@media (max-width: 1199px){

}
/* .col-sm - tablets */
@media (max-width: 991px){
	
}

/* col-xs - phones*/
@media (max-width: 767px){
	.right-column{margin-top:48px;}
}

body {color: #52ff28;}

.ng-invalid.ng-dirty {
	background: #fa787e;
}
.ng-valid.ng-dirty {
	border-color:#78fa89;
}
.container img{max-width: 100%;}
.main .content{}
body{   background-color: #000000; }

.header{height: 60px;}


body .beat{border-radius: 50%;
    width: 100%; 
    height: 25px;
    background: none;
    cursor: pointer;
    
    color: #fff;
    
    border: 2px solid #125d00;}
body .beat.active{background: #1c8e00;}

body .beat:hover{background: #0a2f01;}

body .beat-wrapper{padding: 3px; display: block; float: left; width: 6%;}
body .beat-wrapper.current{background: #082700;}

body a{color: #52ff28;}

body .control-toggle a{color: #126900; font-size: 22px;}
body .control-toggle {padding-top: 8px;}



.btn-primary, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn-primary:focus, .btn-primary.focus, .btn-primary:hover,
    .btn-primary:hover:focus:active{
    color: #52ff28;
    background-color: #000000;
    border-color: #52ff28;
    outline: none;
}


body .btn.btn-primary:hover{background: #52ff28; color: #000;}
/*
 * EMILIO EPIC-QUESTEVEZ
 */


 .rzslider .rz-bubble.rz-limit {
    color: #1c8e00;
}

.rzslider .rz-bar {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: #46ff29;
    border-radius: 2px;
}

.rzslider .rz-pointer {
    top: -9px;
    z-index: 3;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #45ff28;
    border-radius: 16px;
}

.rzslider .rz-pointer:after {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background: #000000;
    border-radius: 4px;
    content: '';
}


.rzslider .rz-bubble {
    bottom: 16px;
    padding: 1px 3px;
    color: #0d8e00;
    cursor: default;
}

.show-controls{border: 1px solid #125d00;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-top:8px;
    padding-top: 8px;
    padding-bottom: 8px;}


    select, select:focus{background: #000; border-color: #52ff28; outline: none;}
    select option, select:focus option, select option:focus{outline: none; border-color: #52ff28;}
    select option:hover{background: #52ff28; color: #000;}