<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width,initial-scale=1" name="viewport">
<title>BEEPTRACKER</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="libs/angularjs-slider-master/dist/rzslider.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<script>

</script>
</head>
<body ng-app="beeps" id="body">

<header class="header"></header>
<div class="container">

      
	<div ng-controller="beepController as ctrl">
		<div ng-repeat="track in ctrl.tracker.tracks" class="row" ng-class="{'show-controls' : track.showControls}">
			<div class="col-xs-1 control-toggle"><a href="#" ng-click="track.showControls = !track.showControls"><span class="glyphicon glyphicon-equalizer"></span></a></div>
			<div class="col-xs-11">
				<div ng-repeat="beat in track.beats" ng-click="beat.active = !beat.active" class="beat-wrapper" ng-class="{current : (ctrl.tracker.curBeat == $index && ctrl.tracker.isPlaying == true)}" >
					<div class="beat" ng-class="{active : beat.active == true}"></div>
				</div>
			</div>
			<div class="beep-controls" ng-show="track.showControls">
				<div class="col-xs-1">FREQ:</div>
				<div class="col-xs-5" >
					<rzslider rz-slider-model="track.config.frequency" rz-slider-options="ctrl.freqOptions"></rzslider>
				</div>
				<div class="col-xs-1">GAIN:</div>
				<div class="col-xs-5" >
					<rzslider rz-slider-model="track.config.amplitude" rz-slider-options="ctrl.gainOptions"></rzslider>
				</div>
				<div class="col-xs-1">ATTACK:</div>
				<div class="col-xs-5" >
					<rzslider rz-slider-model="track.config.attack" rz-slider-options="ctrl.attackOptions"></rzslider>
				</div>
				<div class="col-xs-1">DECAY:</div>
				<div class="col-xs-5" >
					<rzslider rz-slider-model="track.config.decay" rz-slider-options="ctrl.decayOptions"></rzslider>
				</div>
				<div class="col-xs-1">
					WAVE:
				</div>
				<div class="col-xs-11">
					<select ng-model="track.config.type">
						<option value="sine">SINE</option>
						<option value="square">SQUARE</option>
						<option value="sawtooth">SAWTOOTH</option>
					</select>
				</div>
			</div>
			
			
		</div>
		<div class="add-button"><a href="#" ng-click="ctrl.tracker.addTrack(ctrl.tracker.getBlankTrack())"><span class="glyphicon glyphicon-plus"></span></a></div>

		<div class="row" style="margin-top:18px;">
			<div class="col-xs-6">
				<button ng-click="ctrl.tracker.stop()" class="btn btn-primary">stop</button>
				<button ng-click="ctrl.tracker.play()"class="btn btn-primary">play</button>
			</div>
			<div class="col-xs-1 text-right" >BPM: </div>
			<div class="col-xs-5">
				<rzslider rz-slider-model="ctrl.tracker.bpm" rz-slider-options="ctrl.bpmOptions"></rzslider>
			</div>
		</div>

	</div>
      	
    
</div>
<footer class="footer"></footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="angular.min.js"></script> 
<script src="libs/angularjs-slider-master/dist/rzslider.js"></script> 

<script src="app.js"></script> 


</body>
</html>